.header {
    &__item {
        font-weight: 300;
        a {
            line-height: 25px;
        }
        &:nth-child(1),
        &:nth-child(3) {
            font-size: 15px;
            color: white;
        }
        &:nth-child(1) {
            margin-right: 200px;
        }
        &:nth-child(2) {
            font-size: 30px;
            margin-bottom: 15px;
            position: absolute;
        }
    }
    &__nav {
    }
    &__ul {
        padding: 36px 0px 16px 0px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    &__bullets {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 19px 0px;
    }
    &_line {
        border-bottom: #5e5757 solid 1px;
    }
}
.bullets {
    &__item {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 9px;
        }
    }
}
